{% extends 'layout_login.html' %}

{% block title %}Login - Hotel{% endblock %}

{% block content %}
<h2>Iniciar sesión</h2>
<form method="POST" action="/login">
    <label for="usuario">Usuario:</label><br>
    <input type="text" id="usuario" name="usuario" placeholder="Usuario" required><br><br>

    <label for="password">Contraseña:</label><br>
    <input type="password" id="password" name="password" placeholder="Contraseña" required><br><br>

    <button class="button" type="submit">acceder</button>

</form>
<br>
<p>

    <a href="{{ url_for('registro') }}" class="button">Registrarse</a>

</p>

{% endblock %}